<table class="attr">
  <tr>
    <th>カジノ詳細</th>
    <td>
      <%= @casino.casino_name %><br>
      <%= @casino.table_number %><br>
      <%= @casino.pachisuro_number %><br>
      <%= @casino.minimum_rate %><br>
      <%= @casino.address %><br>
      <%= @casino.phone_number %><br>
      <%= @casino.performance %><br>
      <%= @casino.food_service %><br>
      <%= @casino.shuttle_bus %><br>
      <%= @casino.freeroom_service %><br>
      <%= image_tag 'http://www.rubylife.jp/rails/template/img/p8-4.png' %>

    </td>
  </tr>
</table>
