<div class="show">
<table class="attr">
  <tr>
    <th>カジノ詳細</th>
    <td>
      <%= @casino.casino_name %><br>
      <%= @casino.table_number %><br>
      <%= @casino.pachisuro_number %><br>
      <%= @casino.minimum_rate %><br>
      <%= @casino.address %><br>
      <%= @casino.phone_number %><br>
      <%= @casino.performance %><br>
      <%= @casino.food_service %><br>
      <%= @casino.shuttle_bus %><br>
      <%= @casino.freeroom_service %><br>
      <%= image_tag @casino.image, :size => "350x250" %><br>

    </td>
  </tr>
</table>
</div>
