<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="logo">
			<%= link_to image_tag("NightlifeinMacau.gif", alt: "Rails"), 'home'%>
    </div>

    <nav class="top">
      <ul class="nav-pull-right">
      	<li><%= link_to "カジノの基礎知識",'knowledge' %></li>
        <li><%= link_to "流れ",    'overall_flow' %></li>
        <li><%= link_to "ルール", 'game_type' %></li>
        <li><%= link_to "カジノ一覧", 'casinolist' %></li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <div id="sub">
      <nav id="local">
        <ul>
          <li>
            <p>カジノ一覧</p>
          </li>
          <li>
            <%= link_to 'サンズ・マカオ', '/casinolist/1' %>
          </li>
          <li>
            <%= link_to 'グランド・リスボン', '/casinolist/2' %>
          </li>
          <li>
            <%= link_to 'スター・ワールド', '/casinolist/3' %>
          </li>
          <li>
            <%= link_to 'ウィン・マカオ', '/casinolist/4' %>
          </li>
          <li>
            <%= link_to 'MGMグランド・マカオ', '/casinolist/5' %>
          </li>
          <li>
            <%= link_to 'ザ・ベネチアン・マカオ', '/casinolist/6' %>
          </li>
          <li>
            <%= link_to 'ギャラクシー・マカオ', '/casinolist/7' %>
          </li>
          <li>
            <%= link_to 'シティオブドリーム・マカオ', '/casinolist/8' %>
          </li>
          <li>
            <%= link_to 'サンズ・コタイセントラル', '/casinolist/9' %>
          </li>
          <li>
            <%= link_to 'オセアナス・カジノ・マカオ', '/casinolist/10' %>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>